.App {
  text-align: center;
}

  .profile-container {
    background-color: #61dafb;
    position: absolute;
    width: 40%;
    height: auto;
  }

  .name {
    margin-top: 80px;
    text-align: center; /* Horizontally center the text */
  }

  .gender{
    background-color: #61dafb;
    position: absolute;
    width: 40%;
    height: auto;
    height: 20vh;
  }
  
  .image-container {
    flex: 1; /* Distribute available space equally */
    background-color: #61dafb;
    margin-left: 20px;
  }
  
  .userInfo {
    height: 20.7vh;
    display: flex;
    margin-left: 40%;
    margin-top: auto;
    font-size:30px;
    background:red;
    overflow: hidden;
    align-items: stretch;
  }

  .profile-info {
    margin-left:40%; /* Adjust the margin as needed */
    margin-top: auto;
    font-size:30px;
      background:green;
      height:33.6vh ;
      overflow: hidden;
      width: 60%;
  }
  
  .info {
    flex: 1;
    padding: 10px;
    font-size: 15px;
  }
  


 
  

